<div class="aboutcontainer">
    <div class="about">

        <p style="font-size: 85px; line-height: 88px;">Herkesin anlatacak bir hikayesi vardır.</p>
        <br />
        <br />       <br />
        <br />
        Medium, insan hikayeleri ve fikirlerinin evi olarak hizmet verir. Burada herkes, bir posta listesi veya takipçi kitlesi oluşturmadan dünyayla derin perspektiflerini, kullanışlı bilgilerini ve hayat bilgeliklerini paylaşabilir. İnternet gürültülü ve kaotikken, Medium sakin ama içgörü dolu bir ortam sunar. Basit, güzel, işbirlikçi bir platform olup, söylemek istediğiniz şey için doğru kitleyi bulmanıza yardımcı olur.

        Okuduğunuz ve yazdığınızın önemli olduğuna inanıyoruz. Kelimeler bizi ayırabilir veya güçlendirebilir, bizi ilhamlandırabilir veya cesaretlendirebilir. En çarpıcı ve yüzeysel hikayelerin genellikle kazandığı bir dünyada, derinlik, nüans ve harcanan zamanı ödüllendiren bir sistem oluşturuyoruz. Düşünceli konuşmaların daha fazla önemli olduğu bir alan, geçici ilgilerin ötesinde bir mekan, ve ambalajdan daha fazla maddeye odaklanan bir yer.

        Sonuç olarak, amacımız yazının gücü aracılığıyla dünya hakkındaki kolektif anlayışımızı derinleştirmektir.

        Her ay 100 milyondan fazla insan Medium'da bağlantı kurup bilgilerini paylaşıyor. Birçoğu profesyonel yazarlar, ancak bir o kadar da olmayanlar - CEO'lar, bilgisayar bilimcileri, ABD başkanları, amatör romancılar ve dünyaya anlatmaları gereken bir hikayesi olan herkes. Çalıştıkları şeyleri, gecelerini nelerin uğraştırdığını, yaşadıkları deneyimleri ve öğrendikleri şeyleri yazıyorlar ki geri kalanımızın da bilmek isteyebileceği şeyler olabilir.

        Reklam satmıyor veya verilerinizi satmıyoruz; misyonumuza uygun bir topluluk olan Medium üyelerinin desteğiyle ayakta duruyoruz. Eğer burada yeniyseniz, keşfe çıkın. Sizi gerçekten ilgilendiren konulara daha derinlemesine inin. Sizi yeni bir şey öğrenmeye veya aşina olduğunuz bir şeyi tekrar düşünmeye sevk eden bir yazı bulun ve ardından kendi hikayenizi paylaşın.
    </div>
</div>
<a href="/" style="text-decoration:none;">
<div class="aboutButtons">
    <div class="buttonname">Okumaya Başla</div>
    <div class="ok"><i class="fa-solid fa-arrow-right"></i></div>
</div>
</a>
<a href="/Login" style="text-decoration:none;">
<div class="aboutButtons">
    <div class="buttonname">Yazmaya Başla</div>
    <div class="ok"><i class="fa-solid fa-arrow-right"></i></div>
</div>
</a>
 <style>
    a:hover .aboutButtons {
        background-color: white;

     }

        a:hover .buttonname, .ok {

        color: black ;
    }

    .menu ul li a{
        color: white;
    }
     .logo{
        display:none;
      }
     .header{
        background-color: rgb(36, 36, 36) !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.65);
    }
     body{
        background-image: url(https://miro.medium.com/v2/resize:fit:700/format:webp/7*3l9Fl9UIQBgkR_Vu2_ihLg.png);
        background-color: rgb(36, 36, 36);
     }
 </style>